#carrusel {
     width: 100%;
     display: flex;
     justify-content: center;
 }

#carrusel > button {
    background: gainsboro;
    border: none;
}

#image {
     width: 60%;
     height: 350px;
     background-size: 100% 100%;
     background-repeat:no-repeat;
 }

@media screen and (max-width: 800px) {
    figure.center > img {
        width: 80%;
    } 
}

@media screen and (max-width: 400px) {
    #image {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    #image {
        height: 150px;
    }
}