.functions {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.functions figure:first-child {
    grid-column: 1;
}

.functions figure:last-child {
    grid-column: 2;
}

.functions img {
    height: 300px;
    width: 100%;
}

@media screen and (max-width: 1050px) {
    .functions {
        grid-template-columns: repeat(1, 1fr);
    }

    .functions figure {
        text-align: center;
    }
   
    .functions figure:first-child {
        grid-column: 1;
        grid-row: 1;
    }
    
    .functions figure:last-child {
        grid-column: 1;
        grid-row: 2;
    }

    .functions img {
        width: 80%;
    }
}

@media screen and (max-width: 450px) {

    figure.center > img {
        width: 80%;
    } 

    .functions img {
        height: 130px;
    }

    figcaption {
        font-size: small;
    }
}